
.CwBanner {
  background-color:black;
}

.CwRow5S {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwSBD {
overflow-y:scroll;
position:absolute;
visibility:hidden;
width:10em;
}
.CwFRS {
background-color:#EDF3FC;
color:black;
font-size:10pt;
font-style:normal;
font-weight:normal;
}
.CwTBH {
color:black;
}
.CwRow7 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow13A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow6 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow5 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow4 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwTACDF {
background-color:#F1F1F1;
height:100%;
overflow:scroll;
width:0;
}
.CwfFHR {
color:#999999;
height:2px;
}
.CwRow3 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow2 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwfFTDFL {
color:#000066;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
vertical-align:bottom;
}
.CwTBTD {
background-color:#CDD8E4;
color:#000066;
font-family:Arial,Helvetica,sans-serif;
}
.CwRow1 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwTBB {
background-color:#A6B9CE;
border-color:#404040 #A6B9CE #404040 #404040;
border-style:solid;
border-width:2px;
color:black;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
font-style:normal;
font-weight:bold;
padding:4px;
}
.CwRow5A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow13S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwENCM {
color:red;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:normal;
}
.CwCDM {
color:black;
font-size:10pt;
font-style:normal;
font-weight:bold;
}
.CwfFTGAtt {
border:1px solid #000066;
font-size:10pt;
padding:0.25em;
}
.CwTAHDF {
background-color:#D6D6D6;
overflow:hidden;
width:0;
}
html,body {
height:100%;
}
.CwRow4S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwfFTDFLL {
color:#000066;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
text-align:right;
vertical-align:top;
}
.CwENDF {
background-color:white;
border:1px solid black;
font-family:Arial,Helvetica,sans-serif;
height:100%;
overflow-x:hidden;
overflow-y:auto;
padding:2px;
width:100%;
}
.CwfFGL {
color:#000066;
font-size:10pt;
font-style:normal;
font-weight:bold;
}
.CwRow12A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwTAHTF {
border-collapse:collapse;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
table-layout:fixed;
}
.CwSPS {
background-color:#000066;
}
.CwTBBRS {
background-color:#CDD8E4;
border-color:white #404040 #CDD8E4 white;
border-style:solid;
border-width:2px;
color:black;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
font-style:normal;
font-weight:bold;
padding:4px;
}
.CwMEDFoc {
background-color:#CDD8E4;
border-color:white #404040 #404040 white;
border-style:solid;
border-width:1px;
font-family:Arial,Helvetica,sans-serif;
overflow-x:hidden;
}
.CwCADS {
border:2px solid #000066;
cursor:pointer;
font-size:10pt;
}
.CwRow4A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.cwTABSEL {
background-color:#CDD8E4;
border-bottom:1px solid #CDD8E4;
border-top:1px solid #000066;
color:#000066;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:0.2em;
}
.CwRow12S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwMSGD {
background-color:red;
color:black;
display:none;
font-size:10pt;
font-style:normal;
font-weight:normal;
padding:2px 4px;
position:absolute;
right:0;
}
.cwTABSEP {
border-bottom:1px solid #000066;
border-left:1px solid #000066;
border-right:1px solid #000066;
}
.cwTABSEPR {
border-bottom:1px solid #000066;
border-left:1px solid #000066;
}
.CwTBR {
background-color:#A6B9CE;
border-color:#404040 #404040 #A6B9CE;
border-style:solid;
border-width:2px;
color:black;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
font-style:normal;
font-weight:bold;
padding:4px;
}
.cwTABSEPL {
border-bottom:1px solid #000066;
border-right:1px solid #000066;
}
.CwTBBR {
background-color:#A6B9CE;
border:2px solid #404040;
color:black;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
font-style:normal;
font-weight:bold;
padding:4px;
}
.CwMEIDisabled {
border:1px solid #CDD8E4;
color:black;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:2px;
}
.CwRowNewA {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:bold;
}
.CwTBBS {
background-color:#CDD8E4;
border-color:white #CDD8E4 #CDD8E4 white;
border-style:solid;
border-width:2px;
color:black;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
font-style:normal;
font-weight:bold;
padding:4px;
}
.CwRow3S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwfFMPS {
color:#000066;
font-size:10pt;
font-style:normal;
font-weight:bold;
}
.CwRow15A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwfFTDRO {
font-size:10pt;
padding:0.25em;
border: none;
vertical-align:top;
}

.CwfFTDRODisabled {
font-size:10pt;
padding:0.25em;
border: none;
vertical-align:top;
}

.cwfComputedFieldDisabled {
font-size:10pt;
padding:0.25em;
border: none;
vertical-align:top;
}

.cwfComputedField{
font-size:10pt;
padding:0.25em;
border: none;
vertical-align:top;
}
.CwfFF {
background-color:white;
color:#000066;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
overflow:hidden;
}
.CwfH {
display:none;
}
.CwfF {
font-family:Arial,Helvetica,sans-serif;
}
.CwRow3A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwfFT {
font-size:10pt;
table-layout:fixed;
}
.CwfFS {
padding-left:0.5em;
}
.CwRow15S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwSBDF {
height:1em;
overflow-y:scroll;
position:absolute;
visibility:hidden;
width:10em;
}
.CwCAMS {
background-color:#000066;
border:2px solid #000066;
color:#FFFFCC;
cursor:pointer;
font-size:9pt;
}
.CwRowErr {
background-color:white;
color:#B70000;
font-style:normal;
font-weight:normal;
}
.CwMEIDisF {
border:1px solid #CDD8E4;
color:black;
font-size:9pt;
font-style:normal;
font-weight:bold;
opacity:0.5;
padding:2px;
}
.CwRow2S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow14A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow14S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRowNewS {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:bold;
}
.CwRow2A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRowDef {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.cwTAB {
background-color:#8DA7C2;
border-bottom:1px solid #000066;
border-top:0.1em solid #000066;
color:#000066;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:0.2em;
}
.CwMEISel {
border-color:#404040 white white #404040;
border-style:solid;
border-width:1px;
color:black;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:2px;
}
body {
background-color:#CDD8E4;
color:#000066;
font-family:Arial,Helvetica,sans-serif;
height:100%;
margin:0;
}
.CwENM {
color:red;
font-size:9pt;
font-style:normal;
font-weight:normal;
}
.CwTAHT {
border-collapse:collapse;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
table-layout:fixed;
}
.CwRow1S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRowNewErrA {
background-color:#F1F1F1;
color:#B70000;
font-style:normal;
font-weight:bold;
}
.CwTR {
background-color:white;
}
.CwRowDefA {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow8A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwTAHL {
color:black;
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
font-style:normal;
font-weight:bold;
vertical-align:top;
}
.CwfFST {
color:#000066;
font-size:10pt;
font-style:normal;
font-weight:bold;
}
.CwTAHD {
background-color:#F1F1F1;
overflow-x:hidden;
width:0;
}
.CwTAHC {
background-color:#D6D6D6;
border:1px solid #999999;
vertical-align:top;
}
.CwRow1A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRowNewErrS {
background-color:#648BCB;
color:#B70000;
font-style:normal;
font-weight:bold;
}
.CwRowNewErrSelected, .CwRowNewErrSelectedDark {
background-color:#648BCB;
color:#B70000;
font-style:normal;
font-weight:bold;
}
.CwRowNewErrSelectedOver, .CwRowNewErrSelectedOver ,.CwRowNewErrSelectedOverDark{
background-color:#648BCB;
color:#B70000;
font-style:normal;
font-weight:bold;
}


.CwFOBH {
background-color:#000066;
border-color:#999999;
color:#95C8C8;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
font-style:normal;
font-weight:bold;
}

.CwFOBOver {
background-color:#000066;
border-color:#999999;
color:#95C8C8;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
font-style:normal;
font-weight:bold;
}
.CwFIT {
color:#000066;
font-family:Arial,Helvetica,sans-serif;
font-size:12pt;
font-style:normal;
font-weight:bold;
}
.CwfFTG2 {
border:1px solid #000066;
font-size:10pt;
padding:0.25em;
table-layout:fixed;
}
.cwTABHOV {
background-color:#CDD8E4;
border-bottom:1px solid #000066;
border-top:1px solid #000066;
color:#000066;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:0.2em;
}
.CwFOB {
background-color:#000066;
border-color:#999999;
color:#CCFFFF;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
font-style:normal;
font-weight:bold;
}
.CwfFTG1 {
border:1px solid #CDD8E4;
font-size:10pt;
padding:0.25em;
table-layout:fixed;
}
.CwRow8S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRowErrS {
background-color:#648BCB;
color:#B70000;
font-style:normal;
font-weight:normal;
}
.CwCADOW {
color:#000066;
font-size:10pt;
font-weight:bolder;
}
.CwMEIHov {
border-color:white #404040 #404040 white;
border-style:solid;
border-width:1px;
color:black;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:2px;
}
.CwRow16A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow16 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwCAY {
color:#000066;
font-size:12pt;
}
.CwRow15 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwTBDIV {
background-color:#A6B9CE;
color:black;
}
.CwRow14 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwFOT {
color:#000066;
font-family:Arial,Helvetica,sans-serif;
font-size:12pt;
font-style:normal;
font-weight:bold;
padding-bottom:0.5ex;
}
.CwRow13 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow12 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRowNewErr,.CwRowNewErrOver,.CwRowNewErrDark {
background-color:white;
color:#B70000;
font-style:normal;
font-weight:bold;
}
.CwRow11 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwfFMI {
color:red;
font-size:10pt;
}
.CwRow10 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwCAS {
background-color:#FFFFCC;
border-style:none;
border-width:1px 1px 1px 0;
color:#000066;
cursor:default;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
}
.CwRow9A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRowErrA {
background-color:#F1F1F1;
color:#B70000;
font-style:normal;
font-weight:normal;
}
.CwCAT {
border:1px solid #000066;
color:#000066;
font-family:Arial,Helvetica,sans-serif;
}
.CwRow16S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
iframe {
background-color:#CDD8E4;
font-family:Arial,Helvetica,sans-serif;
}
.CwCAM {
border:2px solid #000066;
color:#000066;
cursor:pointer;
font-size:9pt;
}
.CwRow9S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwCHRT {
background-color:#CDD8E4;
}
.CwCAD {
border:2px solid #FFFFCC;
color:#000066;
cursor:pointer;
font-size:10pt;
}
.CwMEIDef {
color:black;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:4px;
}

.CwMEIDefItem {
color:black;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:4px;
}

.CwMEIDefItemOver {
color:black;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:4px;
}

.CwMEIDefDisabled, .CwMEIDefItemDisabled {
color:#666666;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:4px;
filter:alpha(opacity=50);
opacity:0.5;
cursor:default;
}

.CwMEIDefOver{
border-color:white #404040 #404040 white;
border-style:solid;
border-width:1px;
color:black;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:3px;
}

.CwMEIDefDown{
border-color:#404040 white white #404040;
border-style:solid;
border-width:1px;
color:black;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:3px;
}

.CwMEIDefSelected{
border-color:#404040 white white #404040;
border-style:solid;
border-width:1px;
color:black;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:3px;
}
.CwTRI {
cursor:pointer;
}
.CwRow10S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow9 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow8 {
background-color:white;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow6A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwTRTS {
background-color:#B2B4BF;
}
.CwTRT {
color:black;
font-size:9pt;
text-decoration:none;
}
.CwMEISDef {
color:black;
cursor:pointer;
font-size:9pt;
font-style:normal;
font-weight:bold;
}
.CwfFTDF {
font-size:10pt;
vertical-align:top;
}
.CwRow6S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow10A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwTRTH {
color:#648BCB;
}
.CwTACT {
border-collapse:collapse;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
table-layout:fixed;
}
.CwfFRB {
color:#000066;
font-size:10pt;
}
.CwCDB {
background-color:#EDF3FC;
font-family:Arial,Helvetica,sans-serif;
margin:0;
}
.CwMED {
background-color:#CDD8E4;
border:1px solid #808080;
font-family:Arial,Helvetica,sans-serif;
overflow-x:hidden;
}
.CwMEI {
border:1px solid #CDD8E4;
color:black;
font-size:9pt;
font-style:normal;
font-weight:bold;
padding:2px;
}
.CwCABody {
background-color:#FFFFCC;
color:#000066;
font-family:Arial,Helvetica,sans-serif;
}
.CwfFTARO {
background-color:#EDF3FC;
border:0 none;
font-size:10pt;
overflow:auto;
}
.CwRow7A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwTACD {
background-color:#F1F1F1;
height:100%;
overflow-x:auto;
overflow-y:scroll;
width:0;
}
.CwRow11S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwTACC {
border:1px solid #999999;
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
vertical-align:top;
}
.CwMET {
background-color:#CDD8E4;
padding:2px;
}
.CwRowNew {
background-color:white;
color:black;
font-style:normal;
font-weight:bold;
}
.CwfFSF {
background-color:white;
color:#000066;
overflow:hidden;
}
.CwRow7S {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwRow11A {
background-color:#F1F1F1;
color:black;
font-style:normal;
font-weight:normal;
}
.CwFRB {
background-color:black;
}
.CwRowDefS {
background-color:#648BCB;
color:black;
font-style:normal;
font-weight:normal;
}
.CwEND {
background-color:white;
border:1px solid black;
font-family:Arial,Helvetica,sans-serif;
height:0;
overflow-x:hidden;
overflow-y:auto;
padding:2px;
width:100%;
}
.CwTB {
background-color:#A6B9CE;
border-color:#404040 #A6B9CE #A6B9CE #404040;
border-style:solid;
border-width:2px;
color:black;
cursor:pointer;
font-family:Arial,Helvetica,sans-serif;
font-size:10pt;
font-style:normal;
font-weight:bold;
padding:4px;
}

.simpleBorder{
border-style:solid;
border-width:1px;
padding-top:25px;
padding-bottom:25px;
padding-right:25px;
padding-left:25px;
}


.fittedSimpleBorder{
border-style:solid;
border-width: 1px;
}

.gridPlainSolidBorder{
border: 1px solid #000000;
}

.gridPlainDottedBorder{
border: 1px dotted #000000;
}

.gridPlainDashedBorder{
border: 1px dashed #000000;
}

.fieldDisabled{
color: #000005;
background-color: #F2F2F2;
border: none;
font-size:11px;
font-family: Arial,Helvetica,sans-serif;
}

.fieldDisabledHint{
color: #000005;
background-color: #F2F2F2;
border: none;
}

.fieldTitleDisabled{
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
}

.defaultCalendar,
.talldefaultCalendar {
color:#FF0000;
font-style:normal;
font-weight:bold;
font-size:15pt;
}
.confirmStyle{
border: none;
}

.selectedMenu{
font-style:normal;
font-weight:bold;
font-size:9pt;
}

.selectedMenuFocused{
color: red;
font-style:normal;
font-weight:bold;
font-size:9pt;

}

/* Operation In Progress message */
.CwActionInProgress {
color:white;
background-color:#FF5030;
background-image: url("/cwf/r/cwfv/ajax-loader-red.gif") ;
background-repeat: no-repeat;
background-position: 4px;
padding: 2px 4px 2px 26px;
font-family:Arial,Helvetica,sans-serif;
font-size:9pt;
font-style:normal;
font-weight:normal;
overflow:visible;
position:absolute;
right:0px;
top:0px;
white-space: nowrap;
}

.CwActionInProgressBackground {
border: none;
}

/* Error messages */
.CwValidationErrorsHover, 
.CwHoverStyle {
background-color:#FFFFD0;
border:1px solid #808080;
padding: 4px 4px 4px 4px;
font-family:Arial,Helvetica,sans-serif;
font-style:normal;
font-weight:normal;
font-size:11px;
overflow-x:auto;
text-overflow:ellipsis;
white-space: nowrap;
}

/*
.CwHoverStyle{
background-color:white;
color: red;
border:1px solid black;
width: 300px;
font-style:normal;
font-weight:bold;
font-size:9pt;
overflow-x:auto;
text-overflow:ellipsis;
white-space: nowrap;
}
*/



.cellDark {
 background-color:#F1F1F1;
}


/*------------------------------------------------------------
		Styles for Worklist Finder
------------------------------------------------------------*/
.CwWLRow,
.CwWLRowDark,
.CwWLRowOver,
.CwWLRowOverDark,
.CwWLRowSelected,
.CwWLRowSelectedDark,
.CwWLRowSelectedOver,
.CwWLRowSelectedOverDark,
.CwWLRowDisabled,
.CwWLRowDisabledDark,

.CwWLRowErr,
.CwWLRowErrDark,
.CwWLRowErrOver,
.CwWLRowErrOverDark,
.CwWLRowErrSelected,
.CwWLRowErrSelectedDark,
.CwWLRowErrSelectedOver,
.CwWLRowErrSelectedOverDark,
.CwWLRowErrDisabled,
.CwWLRowErrDisabledDark,



.CwWLRowNewErr,
.CwWLRowNewErrDark,
.CwWLRowNewErrOver,
.CwWLRowNewErrOverDark,
.CwWLRowNewErrSelected,
.CwWLRowNewErrSelectedDark,
.CwWLRowNewErrSelectedOver,
.CwWLRowNewErrSelectedOverDark,
.CwWLRowNewErrDisabled,
.CwWLRowNewErrDisabledDark,

.CwWLRowNew,
.CwWLRowNewDark,
.CwWLRowNewOver,
.CwWLRowNewOverDark,
.CwWLRowNewSelected,
.CwWLRowNewSelectedDark,
.CwWLRowNewSelectedOver,
.CwWLRowNewSelectedOverDark,
.CwWLRowNewDisabled,
.CwWLRowNewDisabledDark
{
	font-family:Verdana,sans-serif; font-size:11px; text-overflow:ellipsis;
	color:#333333;
	border-right:1px solid #E1E1E1;
}

.CwWLRowDark,
.CwWLRowErrDark
{
	background-color:#F1F1F1;
}

.CwRowNewErrSelectedDark,
.CwRowNewErrSelected,
.CwRowNewErrSelectedOver,
.CwRowNewErrSelectedOverDark,
.CwWLRowNew,
.CwWLRowNewDark,
.CwWLRowNewOver,
.CwWLRowNewOverDark,
.CwWLRowNewSelected,
.CwWLRowNewSelectedDark,
.CwWLRowNewSelectedOver,
.CwWLRowNewSelectedOverDark,
.CwWLRowNewDisabled,
.CwWLRowNewDisabledDark,

.CwWLRowNewErr,
.CwWLRowNewErrDark,
.CwWLRowNewErrOver,
.CwWLRowNewErrOverDark,
.CwWLRowNewErrSelected,
.CwWLRowNewErrSelectedDark,
.CwWLRowNewErrSelectedOver,
.CwWLRowNewErrSelectedOverDark,
.CwWLRowNewErrDisabled,
.CwWLRowNewErrDisabledDark {
	font-weight:bold;
	
}

.CwWLRowErr,
.CwWLRowErrDark,
.CwWLRowErrOver,
.CwWLRowErrOverDark,
.CwWLRowErrSelected,
.CwWLRowErrSelectedOver,
.CwWLRowErrSelectedOverDark,
.CwWLRowErrDisabled,
.CwWLRowErrDisabledDark,

.CwWLRowNewErr,
.CwWLRowNewErrDark,
.CwWLRowNewErrOver,
.CwWLRowNewErrOverDark,
.CwWLRowNewErrSelected,
.CwWLRowNewErrSelectedDark,
.CwWLRowNewErrSelectedOver,
.CwWLRowNewErrSelectedOverDark,
.CwWLRowNewErrDisabled,
.CwWLRowNewErrDisabledDark {
	color:#b70000;
}
  
.CwWLRowOver, 
.CwWLRowOverDark, 
.CwWLRowErrOver, 
.CwWLRowErrOverDark, 
.CwWLRowNewErrOver, 
.CwWLRowNewErrOverDark,
.CwWLRowNewOver,
.CwWLRowNewOverDark {
    background:#FFFFFF url(/cwf/isomorphic/skins/Enterprise/images/ListGrid/row_Over.png) repeat-x bottom left scroll;
}

.CwWLRowSelected,
.CwWLRowSelectedDark,
.CwWLRowErrSelected,
.CwWLRowErrSelectedDark,  
.CwWLRowNewErrSelected, 
.CwWLRowNewErrSelectedDark, 
.CwWLRowNewSelected,
.CwWLRowNewSelectedDark {
    background:#FFFFFF url(/cwf/isomorphic/skins/Enterprise/images/ListGrid/row_Selected.png) repeat-x bottom left scroll;
}

.CwWLRowSelectedOver,
.CwWLRowSelectedOverDark,
.CwWLRowErrSelectedOver,
.CwWLRowErrSelectedOverDark,
.CwWLRowNewErrSelectedOver,
.CwWLRowNewErrSelectedOverDark,
.CwWLRowNewSelectedOver,
.CwWLRowNewSelectedOverDark
 {
    background:#FFFFFF url(/cwf/isomorphic/skins/Enterprise/images/ListGrid/row_Over_Selected.png) repeat-x bottom left scroll;
}

.CwWLRowDisabled,
.CwWLRowErrDisabled,
.CwWLRowNewErrDisabled,
.CwWLRowNewDisabled {
	color:#AAAAAA;
	background-color:#FFFFFF;
}

.emptyNavStyle{
border: none;
}

.menuBar,
.menuBarOver,
.menuBarFocused,
.menuBarFocusedOver,
.menuBarDown,
.menuBarFocusedDown,
.menuBarSelected,
.menuBarSelectedFocused,
.menuBarSelectedDown,
.menuBarSelectedFocusedDown,
.menuBarSelectedOver,
.menuBarSelectedFocusedOver,
.menuBarDisabled,
.menuBarSelectedDisabled {
    padding:2px;
    font-family:Arial,Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    background:#DDDDDD url(/cwf/r/cwf/images/cssButton/button_stretch.png) repeat-x;
	color:#000000;
    border:1px solid #A6ABB4;
}
.menuBarDisabled {
    background:#E9E9E9 url(/images/cssButton/button_Disabled_stretch.png) repeat-x;
	border-left:1px solid #A7ABB4;
	border-right:1px solid #A6AAB3;
	border-top:1px solid #BABDC4;
	border-bottom:1px solid #B4B8C1;
}
.menuBarDisabled,
.menuBarSelectedDisabled {
	font-weight:normal;
	color:#AAAAAA;
}

.menuBarFocused,
.menuBarFocusedOver,
.menuBarSelectedFocused,
.menuBarSelectedFocusedOver,
.menuBarSelectedFocusedDown {
	border-left:1px solid #9BC8FF;
	border-right:1px solid #9BC8FF;
	border-top:1px solid #B2D3FC;
	border-bottom:1px solid #AACBF6;
}

.menuBarOver,
.menuBarFocusedOver,
.menuBarSelectedFocused,
.menuBarSelectedFocusedOver {
    background:#B2D7FF url(/images/cssButton/button_Over_stretch.png) repeat-x;
}

.menuBarDown,
.menuBarFocusedDown,
.menuBarSelectedDown,
.menuBarSelectedFocusedDown {
    background:#BEDDFF url(/images/cssButton/button_Down_stretch.png) repeat-x;
	border-left:1px solid #b8cfef;
	border-right:1px solid #b8cfef;
	border-top:1px solid #87B6EC;
	border-bottom:1px solid #75AEEC;
}

.menuBarSelected,
.menuBarSelectedFocused,
.menuBarSelectedOver,
.menuBarSelectedFocusedOver,
.menuBarSelectedDisabled {
    background:#B2D7FF url(/images/cssButton/button_Over_stretch.png) repeat-x;
}

.cwTabUnderlineImg {
  background: url("../../cwt/images/tab/tabSpacer.png") repeat-x bottom;
}

/*----------------------------------------------------------
 Styles for WorkList Finders with Flexible Heights
------------------------------------------------------------*/

.tallCwWLRow,
.tallCwWLRowDark,
.tallCwWLRowOver,
.tallCwWLRowOverDark,
.tallCwWLRowSelected,
.tallCwWLRowSelectedDark,
.tallCwWLRowSelectedOver,
.tallCwWLRowSelectedOverDark,
.tallCwWLRowDisabled,
.tallCwWLRowDisabledDark,

.tallCwWLRowErr,
.tallCwWLRowErrDark,
.tallCwWLRowErrOver,
.tallCwWLRowErrOverDark,
.tallCwWLRowErrSelected,
.tallCwWLRowErrSelectedDark,
.tallCwWLRowErrSelectedOver,
.tallCwWLRowErrSelectedOverDark,
.tallCwWLRowErrDisabled,
.tallCwWLRowErrDisabledDark,



.tallCwWLRowNewErr,
.tallCwWLRowNewErrDark,
.tallCwWLRowNewErrOver,
.tallCwWLRowNewErrOverDark,
.tallCwWLRowNewErrSelected,
.tallCwWLRowNewErrSelectedDark,
.tallCwWLRowNewErrSelectedOver,
.tallCwWLRowNewErrSelectedOverDark,
.tallCwWLRowNewErrDisabled,
.tallCwWLRowNewErrDisabledDark,

.tallCwWLRowNew,
.tallCwWLRowNewDark,
.tallCwWLRowNewOver,
.tallCwWLRowNewOverDark,
.tallCwWLRowNewSelected,
.tallCwWLRowNewSelectedDark,
.tallCwWLRowNewSelectedOver,
.tallCwWLRowNewSelectedOverDark,
.tallCwWLRowNewDisabled,
.tallCwWLRowNewDisabledDark
{
	font-family:Verdana,sans-serif; font-size:11px; text-overflow:ellipsis;
	color:#333333;
	border-right:1px solid #E1E1E1;
}

.tallCwWLRowDark,
.tallCwWLRowErrDark
{
	background-color:#F1F1F1;
}

.tallCwRowNewErrSelectedDark,
.tallCwRowNewErrSelected,
.tallCwRowNewErrSelectedOver,
.tallCwRowNewErrSelectedOverDark,
.tallCwWLRowNew,
.tallCwWLRowNewDark,
.tallCwWLRowNewOver,
.tallCwWLRowNewOverDark,
.tallCwWLRowNewSelected,
.tallCwWLRowNewSelectedDark,
.tallCwWLRowNewSelectedOver,
.tallCwWLRowNewSelectedOverDark,
.tallCwWLRowNewDisabled,
.tallCwWLRowNewDisabledDark,

.tallCwWLRowNewErr,
.tallCwWLRowNewErrDark,
.tallCwWLRowNewErrOver,
.tallCwWLRowNewErrOverDark,
.tallCwWLRowNewErrSelected,
.tallCwWLRowNewErrSelectedDark,
.tallCwWLRowNewErrSelectedOver,
.tallCwWLRowNewErrSelectedOverDark,
.tallCwWLRowNewErrDisabled,
.tallCwWLRowNewErrDisabledDark {
	font-weight:bold;
	
}

.tallCwWLRowErr,
.tallCwWLRowErrDark,
.tallCwWLRowErrOver,
.tallCwWLRowErrOverDark,
.tallCwWLRowErrSelected,
.tallCwWLRowErrSelectedOver,
.tallCwWLRowErrSelectedOverDark,
.tallCwWLRowErrDisabled,
.tallCwWLRowErrDisabledDark,

.tallCwWLRowNewErr,
.tallCwWLRowNewErrDark,
.tallCwWLRowNewErrOver,
.tallCwWLRowNewErrOverDark,
.tallCwWLRowNewErrSelected,
.tallCwWLRowNewErrSelectedDark,
.tallCwWLRowNewErrSelectedOver,
.tallCwWLRowNewErrSelectedOverDark,
.tallCwWLRowNewErrDisabled,
.tallCwWLRowNewErrDisabledDark {
	color:#b70000;
}
  
.tallCwWLRowOver, 
.tallCwWLRowOverDark, 
.tallCwWLRowErrOver, 
.tallCwWLRowErrOverDark, 
.tallCwWLRowNewErrOver, 
.tallCwWLRowNewErrOverDark,
.tallCwWLRowNewOver,
.tallCwWLRowNewOverDark {
	background-color:#daecff;
}

.tallCwWLRowSelected,
.tallCwWLRowSelectedDark,
.tallCwWLRowErrSelected,
.tallCwWLRowErrSelectedDark,  
.tallCwWLRowNewErrSelected, 
.tallCwWLRowNewErrSelectedDark, 
.tallCwWLRowNewSelected,
.tallCwWLRowNewSelectedDark {
    background:#d9e4f6;
}

.tallCwWLRowSelectedOver,
.tallCwWLRowSelectedOverDark,
.tallCwWLRowErrSelectedOver,
.tallCwWLRowErrSelectedOverDark,
.tallCwWLRowNewErrSelectedOver,
.tallCwWLRowNewErrSelectedOverDark,
.tallCwWLRowNewSelectedOver,
.tallCwWLRowNewSelectedOverDark
 {
	background-color:#bfdcf9; 
}

.tallCwWLRowDisabled,
.tallCwWLRowErrDisabled,
.tallCwWLRowNewErrDisabled,
.tallCwWLRowNewDisabled {
	color:#AAAAAA;
	background-color:#FFFFFF;
}

.cwAdvancedReference{
	icon: '/cwt/images/16/find.png';
	cwClearIcon: '/cwt/images/16/document_delete.png';
	cwDetailIcon: '/cwt/images/16/document_view.png';
}

.cwRequiredTitlePrefix{
	font-weight: bold;
	color: red;
}

.cwRequiredAsterisk{
	font-weight: bold;
	color: red;
}


.appPageWorkflowAdministrationLabel,.appPageWorkflowAdministrationLabelOver,.appPageWorkflowAdministrationLabelDown,
.appPageWorkflowAdministrationLabelSelected,.appPageWorkflowAdministrationLabelOver,.appPageWorkflowAdministrationLabelSelectedDown,.appPageWorkflowAdministrationLabelOverDown{
	background-color:#afabdc;
	
}


/***** Finder's HTML result styles *****/
.cwfDataTable { 
	background:none;
	color:#333;
	font-size:9pt;
}
.cwfDataTable h1 {
	font-size:150%;
}
.cwfDataTable h5 {
	margin:10px 0;
	font-size:95%;
}
.cwfDataTable table, 
.cwfDataTable th, 
.cwfDataTable td {
	border: 1px solid #D4E0EE;
	border-collapse: collapse;
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #555;
}
.cwfDataTable caption {
	font-size: 150%;
	font-weight: bold;
	margin: 5px;
}
.cwfDataTable td, 
.cwfDataTable th {
	padding: 4px;
	white-space:nowrap;
}
.cwfDataTable thead th {
	text-align: center;
	background: #E6EDF5;
	font-size: 100% !important;
}
.cwfDataTable tbody th {
	font-weight: bold;
}
.cwfDataTable tbody tr { 
	background: #FCFDFE; 
}
.cwfDataTable tbody tr.odd { 
	background: #F7F9FC;
}
.cwfDataTable table a:link {
	color: #718ABE;
	text-decoration: none;
}
.cwfDataTable table a:visited {
	color: #718ABE;
	text-decoration: none;
}
.cwfDataTable table a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}
.cwfDataTable tfoot th, 
.cwfDataTable tfoot td {
	font-size: 85%;
}
