<?xml version="1.0" encoding="UTF-8"?>
<config procGeneralCount="0" apiPortCount="0" catalogServersCount="0"
    logicalConnectionCount="0" processConfigCount="0"
    avmDataCacheCount="0" serviceConfigCount="15" peQueueCount="0"
    physicalConnectionCount="0" configVarCount="0"
    actionCategoryCount="0" catalogDataCacheCount="0"
    catalogAllServerCount="0" alertAssignmentCount="0" smSpecCount="0" alertCount="0">
    <externalConfigCredentials></externalConfigCredentials>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="11" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>processRequest:soapAction</name>
            <value>GraniteGW_Site_Inbound_SOAP_Wholesale_InformationUpdate_SOAP_processRequest_Binder_processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>5</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>GraniteGW_Site_Inbound_SOAP_Wholesale_InformationUpdate_SOAP_processRequest_Port:style</name>
            <value>document</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http:// 172.20.66.16:24004/ws/GraniteGW_Site.Inbound.SOAP.Wholesale.InformationUpdate.SOAP:processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>password</name>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>user</name>
            <value>URY_WRMS</value>
        </parameterAsReference>
        <name>siSIUpdate:processRequestService:GraniteGW_Site_Inbound_SOAP_Wholesale_InformationUpdate_SOAP_processRequest_Port</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="11" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>processRequest:soapAction</name>
            <value>GraniteGW_WorkOrder_Inbound_SOAP_Wholesale_SubmitUpdateAcknowledgment_SOAP_processRequest_Binder_processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>GraniteGW_WorkOrder_Inbound_SOAP_Wholesale_SubmitUpdateAcknowledgment_SOAP_processRequest_Port:style</name>
            <value>document</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>5</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http://172.20.66.16:24004/ws/GraniteGW_WorkOrder.Inbound.SOAP.Wholesale.SubmitUpdateAcknowledgment.SOAP:processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>password</name>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>user</name>
            <value>URY_WRMS</value>
        </parameterAsReference>
        <name>siordAck:processRequestService:GraniteGW_WorkOrder_Inbound_SOAP_Wholesale_SubmitUpdateAcknowledgment_SOAP_processRequest_Port</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="11" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>processRequest:soapAction</name>
            <value>GraniteGW_Quote_Inbound_SOAP_Wholesale_CreateUpdateAcknowledgment_SOAP_processRequest_Binder_processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>5</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http://172.20.66.16:24004/ws/GraniteGW_Quote.Inbound.SOAP.Wholesale.CreateUpdateAcknowledgment.SOAP:processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>GraniteGW_Quote_Inbound_SOAP_Wholesale_CreateUpdateAcknowledgment_SOAP_processRequest_Port:style</name>
            <value>document</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>password</name>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>user</name>
            <value>URY_WRMS</value>
        </parameterAsReference>
        <name>siquoAck:processRequestService:GraniteGW_Quote_Inbound_SOAP_Wholesale_CreateUpdateAcknowledgment_SOAP_processRequest_Port</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="11" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>processRequest:soapAction</name>
            <value>GraniteGW_Quote_Inbound_SOAP_Wholesale_StatusUpdate_SOAP_processRequest_Binder_processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>5</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>GraniteGW_Quote_Inbound_SOAP_Wholesale_StatusUpdate_SOAP_processRequest_Port:style</name>
            <value>document</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http://172.20.66.16:24004/ws/GraniteGW_Quote.Inbound.SOAP.Wholesale.StatusUpdate.SOAP:processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>password</name>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>user</name>
            <value>URY_WRMS</value>
        </parameterAsReference>
        <name>siqsu:processRequestService:GraniteGW_Quote_Inbound_SOAP_Wholesale_StatusUpdate_SOAP_processRequest_Port</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="8" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>60</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>com.telcordia.expediter.FileUtilities</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>deleteFile:method</name>
            <value>deleteFile</value>
        </parameterAsReference>
        <name>util:FileUtilities_Services:FileUtilities_Java_Port</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="11" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>processRequest:soapAction</name>
            <value>GraniteGW_WorkOrder_Inbound_SOAP_Wholesale_StatusUpdate_SOAP_processRequest_Binder_processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>5</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http://172.20.66.16:24004/ws/GraniteGW_WorkOrder.Inbound.SOAP.Wholesale.StatusUpdate.SOAP:processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>GraniteGW_WorkOrder_Inbound_SOAP_Wholesale_StatusUpdate_SOAP_processRequest_Port:style</name>
            <value>document</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>password</name>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>user</name>
            <value>URY_WRMS</value>
        </parameterAsReference>
        <name>siosu:processRequestService:GraniteGW_WorkOrder_Inbound_SOAP_Wholesale_StatusUpdate_SOAP_processRequest_Port</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="11" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>processRequest:soapAction</name>
            <value>GraniteGW_Customer_Inbound_SOAP_Wholesale_CreateUpdateAcknowledgment_SOAP_processRequest_Binder_processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>5</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>GraniteGW_Customer_Inbound_SOAP_Wholesale_CreateUpdateAcknowledgment_SOAP_processRequest_Port:style</name>
            <value>document</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http://172.20.66.16:24004/ws/GraniteGW_Customer.Inbound.SOAP.Wholesale.CreateUpdateAcknowledgment.SOAP:processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>password</name>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>user</name>
            <value>URY_WRMS</value>
        </parameterAsReference>
        <name>sicustack:processRequestService:GraniteGW_Customer_Inbound_SOAP_Wholesale_CreateUpdateAcknowledgment_SOAP_processRequest_Port</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="11" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>processRequest:soapAction</name>
            <value>GraniteGW_Restoration_Inbound_SOAP_Wolesale_Request_SOAP_processRequest_Binder_processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>5</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http://172.20.66.16:24004/ws/GraniteGW_Restoration.Inbound.SOAP.Wolesale.Request.SOAP:processRequest</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>password</name>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>user</name>
            <value>URY_WRMS</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>GraniteGW_Restoration_Inbound_SOAP_Wolesale_Request_SOAP_processRequest_Port:style</name>
            <value>document</value>
        </parameterAsReference>
        <name>sirestor:processRequestService:GraniteGW_Restoration_Inbound_SOAP_Wolesale_Request_SOAP_processRequest_Port</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="12" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>2</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>updateOrder:timeout</name>
            <value>600</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>submitOrder:timeout</name>
            <value>600</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http://rmsmt.stc.com.sa:2160/tgs-STCRMSW-1.0-cim/XngOrderService</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>10</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>submitOrder:soapAction</name>
            <value>submitOrder</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>updateOrder:soapAction</name>
            <value>updateOrder</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>XngOrderServiceSoapPort:style</name>
            <value>document</value>
        </parameterAsReference>
        <name>grws:XngOrderService_service:XngOrderServiceSoapPort</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="10" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>2</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>validateQuote:soapAction</name>
            <value>validateQuote</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http://rmsmt.stc.com.sa:2160/tgs-STCRMSW-1.0-cim/XngQuoteService</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>10</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>XngQuoteServiceSoapPort:style</name>
            <value>document</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>validateQuote:timeout</name>
            <value>600</value>
        </parameterAsReference>
        <name>grws:XngQuoteService_Service:XngQuoteServiceSoapPort</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="6" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>5</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <name>wsws:ifExpediter_WHOLESALE_Service:portForExpediterIF_JS_WHOLESALE</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="15" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>operation_RestorationAcknowledgement:soapAction</name>
            <value>operation_RestorationAcknowledgement</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>60</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http://localhost:10100/cwf/services/ifExpedtier_WHOLESALE</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>operation_CustomerInformationUpdate:soapAction</name>
            <value>operation_CustomerInformationUpdate</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>operation_QuoteValidation:soapAction</name>
            <value>operation_QuoteValidation</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>operation_SiteInformationUpdateAck:soapAction</name>
            <value>operation_SiteInformationUpdateAck</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>portForExpediterIF_SOAP_WHOLESALE:style</name>
            <value>document</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>operation_UpdateOrder:soapAction</name>
            <value>operation_UpdateOrder</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>operation_SubmitOrder:soapAction</name>
            <value>operation_SubmitOrder</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>operation_ReportFailure:soapAction</name>
            <value>operation_ReportFailure</value>
        </parameterAsReference>
        <name>wsws:ifExpediter_WHOLESALE_Service:portForExpediterIF_SOAP_WHOLESALE</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="6" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>5</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <name>wgws:ifExpediter_GRANITE_Service:ifExpediter_GRANITE_JS_Port</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="12" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>ifExpediter_GRANITE_SOAP_Port:style</name>
            <value>document</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>operation_QuoteStatusUpdate:soapAction</name>
            <value>operation_QuoteStatusUpdate</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>60</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http://localhost:10100/cwf/services/ifExpediter_GRANITE</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>3</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>operation_OrderStatusUpdate:soapAction</name>
            <value>operation_OrderStatusUpdate</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>operation_Restoration:soapAction</name>
            <value>operation_Restoration</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>operation_SiteInformationUpdate:soapAction</name>
            <value>operation_SiteInformationUpdate</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <name>wgws:ifExpediter_GRANITE_Service:ifExpediter_GRANITE_SOAP_Port</name>
    </serviceConfigAsReference>
    <serviceConfigAsReference
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:java="http://java.sun.com" parameterCount="10" xsi:type="java:com.conceptwave.config.model.ServiceConfig">
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>customerInformationUpdate:soapAction</name>
            <value>customerInformationUpdate</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>recoverAfter</name>
            <value>2</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>logMessages</name>
            <value>true</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>location</name>
            <value>http://rmsmt.stc.com.sa:2160/tgs-STCRMSW-1.0-cim/XngCustomerService</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>backupPort</name>
            <value>false</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryCount</name>
            <value>10</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>XngCustomerServiceSoapPort:style</name>
            <value>document</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>retryDelay</name>
            <value>0</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>customerInformationUpdate:timeout</name>
            <value>600</value>
        </parameterAsReference>
        <parameterAsReference xsi:type="java:com.conceptwave.config.model.Parameter">
            <name>access</name>
            <value>0</value>
        </parameterAsReference>
        <name>grws:XngCustomerService_Service:XngCustomerServiceSoapPort</name>
    </serviceConfigAsReference>
</config>
